.thumbnail img{
	max-height: 400px;
}

.thumbnail .description{
  color: darkgray;
}

.price{
  font-weight: bold;
  font-size: 16px;
}

/*NAVBAR*/
.navbar{
	margin-bottom: 2px;
}

/*SPLASH*/
.splash-wrap{
	margin-bottom: 25%;

	max-height: 80%;
}

 #carousel-wrap{
 	height: 100%;
 }

.splash-wrap h1{
	font-size: 350%;
}

.splash-wrap h2{
	font-size: 250%;
	padding-bottom: 2%;
}

.go-to-content{
	margin-bottom: 3%;
}