.thumbnail img{
	max-height: 400px;
}

.thumbnail .description{
  color: darkgray;
}

.price{
  font-weight: bold;
  font-size: 16px;
}

/*SPLASH*/
.splash-wrap{
	padding: 15% 5%;
	margin: 0;

	height: 90vh;

	background: white url('https://images.unsplash.com/photo-1427504494785-3a9ca7044f45') no-repeat left;
	color: white;
}

.splash-wrap h1, h2{
	font-size: 400%;
	font-weight: bold;
}